video{
    width: 80%;
    height: auto;
    margin-left: 10%;
}

@media only screen and (max-width: 812px){
    video{
        width: 100%;
        height: auto;
        margin-left: 0%;
    }
}