main h1{
    text-align: center;
    color: darkred;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3.8vw;
    text-shadow: 3px 3px 3px black;
}

.barra{
    width: 100%;
    border-top: 25px solid rgba(89, 89, 89, 0.7);
}

table{
    width: 80%;
    margin-left: 10%;
}

table th{
    width: 20%;
    transition: 1s;
}

table th:hover{
    width: 40%;
    transition: 1s;
}

table img{
    width: 100%;
    transition: 1s;
}

table p{
    color: darkgray;
    font-size: 1.4vw;
}

.botao{
    margin-top: 4%;
    width: 11%;
}

@media only screen and (max-width: 812px){
    table{
        width: 100%;
        margin-left: 0;
    }

    table th{
        width: 0px;
    }

    table th:hover{
        width: 400px;
    }

    table p{
        font-size: 1.8vw;
    }

    .botao{
        width: 17%;
    }
}

@media only screen and (max-width: 414px){
    table th:hover{
        width: 200px;
    }

    table p{
        font-size: 2.3vw;
    }
    .botao{
        width: 22%;
    }
}