/*main{
    height: 1000px;
}*/

main h1{
    text-align: center;
    color: rgba(255, 0, 0, 0.6);
    font-size: 3.15vw
}

.barra{
    width: 100%;
    border-top: 25px solid rgba(115, 115, 115, 0.5);
}

table{
    width: 80%;
    margin-left: 10%;
}

table th{
    /*border: 1px solid red;*/
    width: 20%;
    transition: 1s;
}

table th:hover{
    width: 45%;
    transition: 1s;
}

main img{
    width: 100%;
    transition: 1s;
}

main p{
    color: darkgray;
    font-size: 1.6vw;
}

@media only screen and (max-width: 812px){
}